@import url("header_styles.css");

.Body{
  margin: 0;
  padding: 0;
}

.Body h1{
  text-align: center;
}

.Box {
  border: 1px solid #eee;
  box-shadow: 0 2px #ccc;
  width: 200px;
  height: 120px;
  display: inline-block;
  margin: 10px;
}

.AddBoxButton{
  border: 1px solid #eee;
  box-shadow: 0 2px #ccc;
  width: 200px;
  height: 120px;
  display: inline-block;
  margin: 10px;
}

.AddBoxButton:hover{
  box-shadow: 1px 4px #ccc;
  cursor: pointer;
}

.AddBoxButton h2, .AddBoxButton p{
  text-align: center;
}

.Box h2, .Box p{
  text-align: center;
}
